
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  color: black;

  --cor-1: #304454;
  --cor-2: #112536;
  --shadow-apretada: -5px 0 5px  rgb(0 0 0 / 95%);
  --shadow-blue: 0 0 10px var(--cor-2);
  --borda-simples: 1pt solid black;
}


main {
  position: relative;
  margin: auto;
  min-height: 620px;
  height: 100%;
  width: 100;
  border: var(--borda-simples);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

#titulo-tabela-rochas {
  text-align: left;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 8%;
}

#select-tipo-rocha {
  width: 32%;
  justify-self: center;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  line-height: 24px;
  color: red;

}

#select-tipo-rocha:hover {
  cursor: pointer;
  box-shadow: var(--shadow-blue);

}

#span-help {
  width: 100%;
  text-align: center;
  font-size: 14pt;
  color: red;
  font-weight: bold;
}

.span-referencia {
  width: 100%;
  margin-top: 10px;
  display: block;
  text-align: justify;
}

a {
  color: blue;
}

/* --------------------------------------------------TABELA------------------------------------------------- */
.tabela-rochas {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-weight: normal;
  align-self: center;
}

#tabela-sedimentar, #tabela-metamorfica, #tabela-solos {
  display: none;
}

.tabela-rochas .th-rocha, .td-rocha {
  width: 250px;
  display: block;
  border-radius: 10px;
  text-align: left;
}

.th-minimo, .td-minimo {
  width: 80px;
}

.th-medio, .td-medio {
  width: 80px;
}

.th-maximo, .td-maximo {
  width: 80px;
}

.td-valor {
  border-radius: 10px;
}

.td-minimo:hover, .td-medio:hover, .td-maximo:hover {
  box-shadow: var(--shadow-blue);
  cursor: pointer;
}

/* --------------------BOTAO HELP--------------------------------- */

#help-button {
  position: absolute;
  top: 1%;
  left: 2%;
  background: white;
  color: black;
  font-weight: bold;
  width: 60px;
  height: 25px;
  border: 1pt solid black;
  border-radius: 10px;
  justify-self: center;
  align-content: center;
  transform: scale(0.8);
}

#help-button:hover {
  box-shadow: 0 0 10px blue;
  transform: scale(0.85);
  cursor: pointer;
}
