:root {
  --cor-1: #304454;;
  --shadow-apretada: -5px 0 5px rgb(12 7 7 / 76%);
  --shadow-blue: 0 0 10px blue;
  --borda-simples: 1pt solid black;
}

/* ------------------BOTÃO TRIPLO CHECKBOX ----------------- */
.checkbox-rmr-q-gsi {
  display: none;
}

/* DIV dos botões (RMR) (GSI) (Q) */

#checkbox-container {
  position: absolute;
  display: flex;
  background: var(--cor-1);
  width: auto;
  height: 5.1%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transform: translate(175%,10%) scale(0.6);
  box-shadow: var(--shadow-apretada);
}

/* Texto dentro dos botões (RMR) (GSI) (Q) */

.span-checkbox {
  position: relative;
  font: 10pt;
  font-weight: bolder;
}

/* Label branco que contém o texto dos botões (RMR) (GSI) (Q) */
.label-checkbox-rmr-q-gsi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: var(--borda-simples);
  border-radius: 25%;
  background: white;
}

label:hover {
  cursor: pointer;
  box-shadow: var( --shadow-blue);
  transform: scale(1.1);
}

/* ------------------BOTÃO IMPRIMIR (CANTO INFERIOR DIREITO) ----------------- */

#botao-imprimir {
  position: absolute;
  border: none;
  border-radius: 10px;
  background: none;
  transform: scale(0.8);
  bottom: 1%;
  right: 3.5%;

}

#botao-imprimir:hover {
  cursor: pointer;
  box-shadow: var( --shadow-blue);
  transform: scale(1.01);
}

/* ------------------BOTÃO PESOS (CANTO SUPERIOR DIREITO) ----------------- */

#botao-pesos {
  position: absolute;
  border: none;
  border-radius: 10px;
  background: none;
  transform: scale(0.8);
  right: 5%;
  top: 40px;
}

#botao-pesos:hover {
  cursor: pointer;
  box-shadow: var( --shadow-blue);
  transform: scale(1.01);
}

/* ------------------SWITCH IDIOMA (CANTO SUPERIOR ESQUERDO) ----------------- */

#checkbox-switch {
  display: none;
}

#switch-texto {
  color: white;
  font: normal 8pt;
  position: inherit;
  top: 22%;
  margin-left: 1px;
  margin-right: 5px;
}

.switch-label {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 20px;
  background-color: var(--cor-1);
  border-radius: 15px;
  position: absolute;
  top: 45px;
  right: 2%;
  box-shadow: var(--shadow-apretada)
}

.switch-label::after {
  content: '';
  display: block;
  width: 19px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2px;
  transition: transform 0.2s ease-in-out;
}

#checkbox-switch:checked + .switch-label::after {
  transform: translateX(30px);
}

.switch-label:hover {
  box-shadow: blue;
  font: 12pt;
  font-weight: bold;
}

/* ------------------BOTÃO CALCULADORA RMR (CANTO INFERIOR ESQUERDO) ----------------- */
.botao-calculadora-rmr {
  position: absolute;
  right: 42%;
  z-index: 2;
  transform: translate(25%, -20%) scale(0.5);
  background-color: rgb(255 255 255 / 0%);
  border: none;
}

.botao-calculadora-rmr:hover {
  cursor: pointer;
  box-shadow: var( --shadow-blue);
}

/* ------------------BOTÃO CALCULADORA GSI (CANTO INFERIOR ESQUERDO) ----------------- */
.botao-calculadora-gsi {
  position: absolute;
  right: 43%;
  z-index: 2;
  transform: translate(25%, -20%) scale(0.5);
  background-color: rgb(255 255 255 / 0%);
  border: none;
}

.botao-calculadora-gsi:hover {
  cursor: pointer;
  box-shadow: var( --shadow-blue);
}

/* --------------BOTAO AHP------------------------------- */
#botao-ahp {
  grid-row: 5/6;
  grid-column: 1/5;
  width: 100%;
  height: 100%;
  align-self: center;
  border: var(--borda-simples);
  background-color: black;
  color: white;
  border-radius: 20px;
  justify-self: center;
  display: none;
}

#botao-ahp:hover {
  box-shadow: var( --shadow-blue);
  transform: scale(1.05);
  cursor: pointer;
}

/* --------------BOTAO AHP UBC------------------------------- */
#botao-ahp-ubc {
  grid-row: 4/5;
  grid-column: 1/5;
  width: 100%;
  height: 100%;
  align-self: center;
  border: var(--borda-simples);
  background-color: black;
  color: white;
  border-radius: 20px;
  justify-self: center;
  display: none;
}

#botao-ahp-ubc:hover {
  box-shadow: var( --shadow-blue);
  transform: scale(1.05);
  cursor: pointer;
}
