

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11pt;
  line-height: 1.5;
  color: black;

  --cor-1: #304454;
  --cor-2: #112536;
  --shadow-apretada: -2px 0px 2px  rgb(0 0 0 / 95%);
  --shadow-blue: 0 0 10px var(--cor-2);
  --borda-simples: 1pt solid black;
  --main-columns: minmax(260px, 5fr) minmax(385px, 7fr) minmax(290px, 11fr) minmax(250px, 5fr);
}

.head {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: var(--main-columns);
  align-items: center;
  position: relative;
  height: 58.31px;
}

.head #div-header {
  grid-column: 1/5;
  display: grid;
  position: absolute;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  background-color: var(--cor-1);
  border-radius: 20px;
  margin: 0;
  border: var(--borda-simples);
}

.head #div-header h1 {
  font-size: 14pt;
  color: white;
  text-align: center;
  width: 100%;
}

#img-simbolo-mineracao-esquerda {
  position: absolute;
  grid-column: 1/2;
  left: 1%;
  z-index: 2;
}

#img-simbolo-mineracao-direita {
  position: absolute;
  grid-column: 4/5;
  right: 1%;
  z-index: 2;
}

input {
  all: unset;
  position: absolute;
  height: 20px; 
  right: 1%;
  width: 40%;
  text-align: center;
  border: var(--borda-simples);
  border-radius: 10px;
  box-shadow: var(--shadow-apretada);
}

span {
  all: unset;
}

/* Balão de texto hover */ 
.balao {
  position: fixed;
  z-index: 2;
  font-weight: bold; 
  font-size: 9pt;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  border: var(--borda-simples);
  padding: 1%;
  display: none;
  background-color: white;
}

body {
  align-items: center;
  position: absolute;
}

/* <main> */
.wrapper {
  display: grid;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  grid-template-columns: var(--main-columns);
  height: auto;
  position: relative;
  padding-bottom: 0.2%;
  padding-top: 0.25%;
}

section {
  padding-left: 15px;
  position: relative;
  font: 11pt normal;
  height: 100%;
  padding-bottom: 3%;
  box-sizing: border-box;
}

#span-rights {
  font-style: normal;
  padding: 15px;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

/* Titulos principais de cada seção */ 
h2 {
  border-bottom: var(--borda-simples);
  text-align: center;
  margin-top: 5px;
  align-content: center;
  font-weight: bold;
}

/* ---------------------------------------SECTION 0------------------------------------------------ */
#nav-menu {
  grid-column: 1/2;
  gap: 0;
  display: block;
  color: white;
  margin: 0;
  border: var(--borda-simples);
  height: 100%;
  width: 99%;
  padding: 0%;
  border-radius: 20px;
  overflow: hidden;
  font-size: 10pt;
  padding-top: 1%;
}

p {
  transform: translateY(-15px);
  display: block;
  text-align: justify;
  box-sizing: border-box;
  padding: 5px;
  font-size: 10pt;
}

#menu-metodos {
  list-style-type: none;
  margin: 0;
  gap: 0;
  padding: 0%;
  background-color: var(--cor-1);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#li-titulo {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.options {
  width: 100%;
  border-top: 1pt solid white;
  border-bottom: 1pt solid white;
  text-align: center;
  margin: 0;
  padding: 0%;
}

#menu-metodos li:hover {
  box-shadow: var(--shadow-blue);
  cursor: pointer;
}

#menu-metodos li ul li:hover {
  background-color: var(--cor-2);
}

#menu-metodos li ul {
  display: none;
  list-style-type: none;
  margin: 0;
  gap: 0;
  padding: 0%;
}

#menu-metodos li:hover ul {
  display: block;
}

a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
}

/* -------------------SEÇÃO 1 LATERAL ESQUERDA---------------------------- */

#section-1 {
  grid-column: 2/3;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left: var(--borda-simples);
  border-top: var(--borda-simples);
  border-bottom: var(--borda-simples);
  height: 100%;
}

/* Subtitulos da seção 1 */
h3 {
  font: 11pt;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 12px;
}

#titulo-section-1 /*Titulo principal (h1)  da seção 1*/ {
  width: 97%;
}

select {
  width: 40.69%; /* 150px */
  position: absolute;
  cursor: pointer;
  right: 1%;
  height: 22.66px; 
  text-align: center;
  border-radius: 10px;
  border: var(--borda-simples);
  box-shadow: var(--shadow-apretada);
}

select:hover {
  box-shadow: var(--shadow-blue);
  font: 12pt;
  font-weight: bold;
}

/* Três spans que contém o resultado do calculo RSS */
.resultado-rss {
  position: absolute;
  height: 21px; 
  right: 1%;
  width: 40%;
  text-align: center;
  border: var(--borda-simples);
  border-radius: 10px;
  cursor: default;
  color: var(--cor-1);
}

/* Display vinculado aos botões-checkbox de buttons.css pela função Checkbox em design.js */
.rmr {
  display: none;
}

/* Display vinculado aos botões-checkbox de buttons.css pela função Checkbox em design.js */ 
.gsi {
  display: none;
}

/* Display vinculado aos botões-checkbox de buttons.css pela função Checkbox em design.js */
.q {
  display: none;
}

/* -------------------SEÇÃO 2 CENTRO---------------------------- */

#section-2 {
  grid-column: 3/4;
  border: var(--borda-simples);
  min-width: 300px;
  height: 100%;
  overflow: hidden;
  margin-bottom: 0%;
}

#titulo-section-2 {
  width: 97%;
}

#superficie {
  position: absolute;
  width: 95%;
  top: 3%;
}

#div-ilustracao {
  position: absolute;
  right: 10%;
  top: 100%;
}

#ilustracao {
  margin: 0%;
  position: absolute;
  width: 85%;
  height: 54%;
  left: 8%;
  top: 15%;
}

/* -------------------SEÇÃO 3 LATERAL DIREITA---------------------------- */

#section-3 {
  grid-column: 4/5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-right: var(--borda-simples);
  border-top: var(--borda-simples);
  border-bottom: var(--borda-simples);
  min-width: 200px;
  text-align: left;
}

#titulo-section-3 {
  width: 95%;
}

#div-section-3 {
  line-height: 45px;
}

.span-metodos-lavra {
  width: 95%;
  position: relative;
  margin-right: 10%;
  display: block;
  text-align: left;
  z-index: -1;
}

/* ------------------PESOS---------------------------- */
#div-select-pesos {
  position: absolute;
  align-items: center;
  align-content: center;
  left: 10%;
  width: 80%;
  bottom: 15%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

#div-select-pesos h2 {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
  font-size: 11pt;
  width: 100%;
  margin-bottom: 2%;
}

#div-select-pesos span {
  grid-row: 2/3
}

#div-select-pesos select {
  display: block;
  align-items: center;
  position: absolute;
  grid-column: 1/5;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  right: 0%;
  padding: 0;
}

.input-pesos {
  grid-row: 4/5;
  width: 90%;
  height: 85%;
  display: none;
  box-shadow: none;
  position: absolute;
  top: 3%;
}

#input-peso-geo {
  grid-column: 1/2;
}

#input-peso-ob {
  grid-column: 2/3;
}

#input-peso-hw {
  grid-column: 3/4;
}

#input-peso-fw {
  grid-column: 4/5;
}

/* -----------------------FOOTER----------------------------- */
.rodape {
  display: grid;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  grid-template-columns: var(--main-columns);
  height: auto;
  position: relative;
}

.rodape .div-footer {
  background-color: var(--cor-1);
  border: var(--borda-simples);
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(600px, 5fr) minmax(150px, 1fr) minmax(200px, 3fr);
  position: absolute;
  grid-column: 1/5;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  height: 100px;
  border-radius: 20px;
  align-items: center;
  align-content: center;
}

.div-span-footer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 10pt;
  opacity: 0.8;
}

#img-ufrgs {
  position: absolute;
  grid-column: 1/2;
  transform: scale(0.6);
  bottom: -70%;
  left: -30%;
}

#div-span-footer-1 {
  grid-column: 2/3;
  height: 100%;
  left: 80%;
}

#div-span-footer-2 {
  display: none;
  position: absolute;
  grid-column: 4/5;
  left: 5%;
}

#div-span-footer-2 h4,  #div-span-footer-2 span a {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 10pt;
}

#img-mafmine {
  position: absolute;
  grid-column: 4/5;
  right: 2%;
  top: 2%;
}

#img-laprom {
  position: absolute;
  grid-column: 3/4;
  justify-self: left;
  left: -10%;
}


/* -------------------------IFRAMES------------------------------------ */

#main-pop-up {
  display: none;
  height: auto;
  width: 500px;
  position: absolute;
  top: 2.5%;
  left: 45%;
  box-shadow: 0 0 10px var(--cor-1);
  border: 1px solid black;
  z-index: 100;
  overflow: hidden;
}

#barra-pop-up {
  width: 100%;
  background-color: var(--cor-1);
  height: 25px;
  z-index: 100;
  position: relative;
}

#barra-pop-up:hover {
  cursor: move;
}

#titulo-pop-up {
  color: white;
  padding-left: 2%;
}

#titulo-pop-up:hover {
  cursor: move;
}

#fechar-pop-up {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  box-sizing: border-box;
  width: 20px;
  right: 0%;
  top: 0%;
  color: white;
  font-size: 15pt;
}

#fechar-pop-up:hover {
  color: red;
  cursor: default;
}

iframe {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background-color: white;
}

.overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 90;
  background-color: #112536;
}