body
{
    align-items: center;
    background-color:white;
    color: black;
    font:bold 10pt Roboto;
    position: relative;
}
.wrapper /* <main> */
{
    display: grid;
    grid-template-columns: 260px 7fr 11fr 5fr;
    width: 100%;
    height: 100%;
    min-width: 850px;
    position:absolute;
    top: 0px;
    transform: translateY(-5px);
}
section
{
    background-color: white;
    padding-left: 15px;
    position: relative;
    font: 11pt normal;
    height: 100%;
    padding-bottom: 3%;
    box-sizing: border-box;
}
footer
{
    font: 10pt Roboto;
    font-style: normal;
    color: black;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    left: 45%;
}
#balao /* Balão de texto hover*/
{
    position: fixed;
    z-index: 2;
    font: bold 9pt Roboto;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    padding: 1%;
    display: none;
}

h2 /*Titulos principais de cada seção*/
{
    border-bottom: 1px solid black;
    text-align: center;
    margin-top: 5px;
    align-content: center;
    font: bold 12pt Roboto;
}
/*---------------------------------------SECTION 0------------------------------------------------*/
#nav_menu{
    grid-column: 1/2;
    line-height: 25px;
    gap: 0;
    display: block; 
    color: white;
    margin: 0px;
    border: 1pt solid black;
    height: 100%;
    width: 99%;
    padding: 0%;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;

}
p{
    transform: translateY(-15px);
    background-color: white;
    color: black;
    text-align: center;
    display: block;
    text-align: justify;
    box-sizing: border-box;
    padding: 5px;
}

#menu_metodos{
    list-style-type: none;
    margin: 0px;
    gap: 0;
    padding: 0%;
    background-color:  rgb(40, 41, 40);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
#li_titulo{
    color: black;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.options{
    width: 100%;
    border-top: 1pt solid white;
    border-bottom: 1pt solid white;
    text-align: center;
    margin: 0px;
    padding: 0%;
}

#menu_metodos li:hover{
    box-shadow: 0px 0px 10px blue;
    cursor: pointer;
}

#menu_metodos li ul li:hover{
    background-color: blue;
}

#menu_metodos li ul{
    display: none;
    list-style-type: none;
    margin: 0px;
    gap: 0;
    padding: 0%;

}
#menu_metodos li:hover ul{
    display: block;
}

a{
    display: block;
    width: 100%;
    color:white;
    text-decoration: none;
}

/*-------------------SEÇÃO 1 LATERAL ESQUERDA----------------------------*/

#section_1{
    grid-column: 2/3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 157%; /*23px*/
    margin-bottom: 0%;
    min-width: 300px; 
    height: 100%;

}
h3 /*Subtitulos da seção 1*/
{
    color:black;
    font: 11pt Roboto;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
}
#titulo_section_1 /*Titulo principal (h1)  da seção 1*/
{
    width: 97%;
}
select
{
    font: 10pt Roboto;
    width: 40%; /*150px*/
    position: absolute;
    cursor: pointer;
    right: 1%;
    height:3%;
    text-align: center;
    line-height: 20%; /*25px*/
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -10px 5px 10px rgba(104, 62, 62, 0.425);
}
select:hover
{
    box-shadow: 0px 0px 10px blue;
    font: 12pt;
    font-weight: bold;
}
input
{
    font: 10pt Roboto;
    width: 40%;
    position: absolute;
    right: 1%;
    height: 2.5%; /*20px*/
    border: 1px solid black;
    border-radius: 10px;
    line-height: 2.5%; /*18px*/
    text-align: center;
    box-shadow: -10px 5px 10px rgba(104, 62, 62, 0.425);
}
.resultado_rss /* Três spans que contém o resultado do calculo RSS*/
{
    font: normal 10pt Roboto;
    position: absolute;
    right: 1%;
    text-align: center;
    width: 40%; /*150px*/
    height: 2.8%; /*20px*/
    line-height: 150%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: default;
}
.rmr /*Display vinculado aos botões-checkbox de buttons.css pela função Checkbox em design.js */
{
    display: none;
}
.gsi  /*Display vinculado aos botões-checkbox de buttons.css pela função Checkbox em design.js */
{
    display: none;
}
.q  /*Display vinculado aos botões-checkbox de buttons.css pela função Checkbox em design.js */
{
    display: none;
}

/*-------------------SEÇÃO 2 CENTRO----------------------------*/

#section_2
{
    grid-column: 3/4;
    border: 1px solid black;
    box-shadow: 0px 10px 10px rgba(104, 62, 62, 0.425);
    min-width: 300px; 
    height: 100%;
    overflow: hidden;
    margin-bottom: 0%;
 }    
 #titulo_section_2
 {
     width: 97%;
 }
#superficie
{
    position: absolute;
    width: 95%;
    top: 3%;
    z-index: 1; 
}
#div_ilustracao
{
    position: absolute;
    right: 10%;
    top: 100%;  
}
#ilustracao
{
    margin: 0%;
    position: absolute;
    width: 85%;
    height:54%;
    left: 8%;
    top: 15%;
}


/*-------------------SEÇÃO 3 LATERAL DIREITA----------------------------*/

#section_3
{
    grid-column: 4/5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-width: 200px; 
    text-align: left;
    box-shadow: 10px 10px 10px rgba(104, 62, 62, 0.425);
}
#titulo_section_3
{
    width: 95%;
}
#div_section_3
{
    line-height: 50px;
}



