
@page {
  margin-left: 0.51in;
  margin-right: 0.51in;
  margin-bottom: 0.79in;
}

body {
  margin-left: 0.51in;
  margin-right: 0.51in;
  margin-bottom: 0.79in;
}












html {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

div.comment {
  display: none
}
  
a.comment-indicator:hover+div.comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em
}

a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em
}


table {
  border-collapse: collapse;
  page-break-after: always
}

.gridlines td {
  border: 1px dotted black
}

.gridlines th {
  border: 1px dotted black
}

.b {
  text-align: center
}

.e {
  text-align: center
}

.f {
  text-align: right
}

.inlineStr {
  text-align: left
}

.n {
  text-align: right
}

.s {
  text-align: left
}

td.style2 {
  vertical-align: middle;
  text-align: center;
}

th.style2 {
  vertical-align: middle;
  text-align: center;
}

td.style3 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
}

th.style3 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
}

td.style4 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
}

th.style4 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
}

td.style5 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

th.style5 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

td.style6 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

th.style6 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

td.style7 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
  font-weight: bold;
}

th.style7 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
  font-weight: bold;
}

td.style8 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

th.style8 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

td.style9 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style9 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style10 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

th.style10 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

td.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

th.style11 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

td.style12 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

th.style12 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

td.style13 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
}

th.style13 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
}

td.style14 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style14 {
  vertical-align: middle;
  text-align: left;
  padding-left: 0;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style15 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style15 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style16 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style16 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style17 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style17 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style19 {
  text-align: center;
  border-bottom: 1px solid black;;
}

th.style19 {
  text-align: center;
  border-bottom: 1px solid black;;
}

td.style20 {
  text-align: center;
}

th.style20 {
  text-align: center;
}

td.style21 {
  text-align: center;
}

th.style21 {
  text-align: center;
}

td.style22 {
  text-align: center;
  font-weight: bold;
}

th.style22 {
  text-align: center;
  font-weight: bold;
}

td.style23 {
  text-align: center;
  font-weight: bold;
}

th.style23 {
  text-align: center;
  font-weight: bold;
}

td.style24 {
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style24 {
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style25 {
  text-align: center;
  border-bottom: 1px solid black;;
}

th.style25 {
  text-align: center;
  border-bottom: 1px solid black;;
}

td.style26 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

th.style26 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

td.style27 {
  text-align: center;
}

th.style27 {
  text-align: center;
}

td.style28 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

th.style28 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
}

td.style29 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style29 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style30 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

th.style30 {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid black;;
  font-weight: bold;
}

td.style31 {
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style31 {
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style32 {
  text-align: center;
  font-weight: bold;
}

th.style32 {
  text-align: center;
  font-weight: bold;
}

td.style33 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style33 {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style34 {
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

th.style34 {
  text-align: center;
  border-bottom: 1px solid black;;
  border-top: 1px solid black;;
  font-weight: bold;
}

td.style35 {
  text-align: center;
  border-bottom: 1px solid black;;
}

th.style35 {
  text-align: center;
  border-bottom: 1px solid black;;
}

td.style36 {
  text-align: center;
  border-bottom: 1px solid black;;
}

th.style36 {
  text-align: center;
  border-bottom: 1px solid black;;
}

td.style38 {
  text-align: center;
}

th.style38 {
  text-align: center;
}

td.style39 {
  text-align: center;
}

th.style39 {
  text-align: center;
}

td.style40 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}

th.style40 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}

td.style41 {
  vertical-align: middle;
  text-align: center;
  font-size: 10pt;
}

th.style41 {
  vertical-align: middle;
  text-align: center;
  font-size: 10pt;
}

td.style42 {
  text-align: center;
  font-size: 9pt;
}

th.style42 {
  text-align: center;
  font-size: 9pt;
}

td.style43 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
}

th.style43 {
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
}

table.sheet0 col.col0 {
  width: 43.3778pt
}

table.sheet0 col.col1 {
  width: 43.3778pt
}

table.sheet0 col.col2 {
  width: 43.3778pt
}

table.sheet0 col.col3 {
  width: 43.3778pt
}

table.sheet0 col.col4 {
  width: 43.3778pt
}

table.sheet0 col.col5 {
  width: 98.2777pt
}

table.sheet0 col.col6 {
  width: 92.8555pt
}

table.sheet0 col.col7 {
  width: 43.3778pt
}

table.sheet0 col.col8 {
  width: 43.3778pt
}

table.sheet0 col.col9 {
  width: 43.3778pt
}

table.sheet0 col.col10 {
  width: 43.3778pt
}

table.sheet0 col.col11 {
  width: 43.3778pt
}

table.sheet0 col.col12 {
  width: 43.3778pt
}

table.sheet0 col.col13 {
  width: 43.3778pt
}

table.sheet0 col.col14 {
  width: 43.3778pt
}

table.sheet0 col.col15 {
  width: 43.3778pt
}

table.sheet0 col.col16 {
  width: 43.3778pt
}

table.sheet0 col.col17 {
  width: 43.3778pt
}

table.sheet0 col.col18 {
  width: 42pt
}

table.sheet0 col.col19 {
  width: 42pt
}

table.sheet0 col.col20 {
  width: 42pt
}

table.sheet0 col.col21 {
  width: 42pt
}

table.sheet0 tr {
  height: 15pt
}

table.sheet0 tr.row0 {
  height: 15pt
}

table.sheet0 tr.row1 {
  height: 15pt
}

table.sheet0 tr.row2 {
  height: 15pt
}

table.sheet0 tr.row3 {
  height: 15pt
}

table.sheet0 tr.row4 {
  height: 15.75pt
}

table.sheet0 tr.row5 {
  height: 15pt
}

table.sheet0 tr.row6 {
  height: 15pt
}

table.sheet0 tr.row7 {
  height: 15pt
}

table.sheet0 tr.row8 {
  height: 15pt
}

table.sheet0 tr.row9 {
  height: 15pt
}

table.sheet0 tr.row10 {
  height: 15pt
}

table.sheet0 tr.row11 {
  height: 15pt
}

table.sheet0 tr.row12 {
  height: 15pt
}

table.sheet0 tr.row13 {
  height: 15pt
}

table.sheet0 tr.row14 {
  height: 15pt
}

table.sheet0 tr.row15 {
  height: 15pt
}

table.sheet0 tr.row16 {
  height: 15pt
}

table.sheet0 tr.row17 {
  height: 15pt
}

table.sheet0 tr.row18 {
  height: 15pt
}

table.sheet0 tr.row19 {
  height: 15pt
}

table.sheet0 tr.row20 {
  height: 15pt
}

table.sheet0 tr.row21 {
  height: 15pt
}

table.sheet0 tr.row22 {
  height: 15pt
}

table.sheet0 tr.row23 {
  height: 15pt
}

table.sheet0 tr.row24 {
  height: 15pt
}

table.sheet0 tr.row25 {
  height: 15pt
}

table.sheet0 tr.row26 {
  height: 15pt
}

table.sheet0 tr.row27 {
  height: 15pt
}

table.sheet0 tr.row28 {
  height: 15pt
}

table.sheet0 tr.row29 {
  height: 15pt
}

table.sheet0 tr.row30 {
  height: 15pt
}

table.sheet0 tr.row31 {
  height: 15pt
}

table.sheet0 tr.row32 {
  height: 15pt
}

table.sheet0 tr.row33 {
  height: 15pt
}

table.sheet0 tr.row34 {
  height: 15pt
}

table.sheet0 tr.row35 {
  height: 15pt
}

table.sheet0 tr.row36 {
  height: 15pt
}

table.sheet0 tr.row37 {
  height: 15pt
}

table.sheet0 tr.row38 {
  height: 15pt
}

table.sheet0 tr.row39 {
  height: 15pt
}

table.sheet0 tr.row40 {
  height: 15pt
}

table.sheet0 tr.row41 {
  height: 15pt
}

table.sheet0 tr.row42 {
  height: 15pt
}

table.sheet0 tr.row43 {
  height: 15pt
}

table.sheet0 tr.row44 {
  height: 15pt
}

table.sheet0 tr.row45 {
  height: 15pt
}

table.sheet0 tr.row46 {
  height: 15pt
}

table.sheet0 tr.row47 {
  height: 15pt
}

table.sheet0 tr.row48 {
  height: 15pt
}

table.sheet0 tr.row49 {
  height: 15pt
}

table.sheet0 tr.row50 {
  height: 15pt
}

table.sheet0 tr.row51 {
  height: 15pt
}

table.sheet0 tr.row52 {
  height: 15pt
}

table.sheet0 tr.row53 {
  height: 15pt
}

table.sheet0 tr.row54 {
  height: 15pt
}

table.sheet0 tr.row55 {
  height: 15pt
}

table.sheet0 tr.row56 {
  height: 15pt
}

table.sheet0 tr.row57 {
  height: 15pt
}

table.sheet0 tr.row58 {
  height: 15pt
}

table.sheet0 tr.row59 {
  height: 15pt
}

table.sheet0 tr.row60 {
  height: 15pt
}